@import "tooltip.less";
@import "brief.less";

html {
  height: 100%;
}
body {
  height: 100%;
  padding-top: 5.2rem;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.navigation {
  border-bottom: .1rem solid #d1d1d1;
  display: block;
  height: 5.2rem;
  left: 0;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1;
  .navigation-title {
    display: inline;
    font-size: 1.6rem;
    line-height: 5.2rem;
    padding: 0;
    text-decoration: none;
  }
  .navigation-list {
    list-style: none;
    margin-bottom: 0;
    margin-right: 5rem;
    .navigation-item {
      float: left;
      margin-bottom: 0;
      margin-left: 2.5rem;
      position: relative;
      .navigation-link {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        line-height: 5.2rem;
        padding: 0;
        text-decoration: none;
      }
    }
  }
}

h1, h2, h3 {
  font-family: 'Special Elite', cursive;
}
header {
  .title {
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h1 {

      display: inline;
    }
    .subheading {
      margin-bottom: 2rem;
    }
    .links {
      a {
        display: inline-flex;
        margin-right: 1rem;
        align-items: center;
        svg {
          margin-right: 1rem;
        }
      }
    }
  }
}
.project .info.statistics {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  span.stat {
    color: #999;
    display: inline-flex;
    white-space: nowrap;
    margin-right: 2rem;
    svg {
      margin-right: 1rem;
    }
  }
}
.project .info.tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  a.tag {
    color: #999;
  }
  span.tag {
    color: #777;
  }
  a.tag, span.tag {
    display: inline-flex;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #808080;
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 700;
    height: 1.6rem;
    line-height: 1.6rem;
    margin-right: 2rem;
    >* {
      margin-right: 0.5rem;
    }
    svg {
      width: 16px;
      height: 16px;
    }
    span.count {
      text-align: center;
      border-radius: 2px;

      display: inline-block;
    }
  }
}

.button {
  &.button-small {
    line-height: 2rem;
    height: 2rem;
  }
}


.button-slim {
  height: 3rem;
  line-height: 3rem;
}


.title {

}

.brief .info {
  a {
    @media(min-width: 40rem) {
      margin-right: auto;
    }
  }
  span {
    margin-right: 1rem;
  }
  span, a {
    display: inline-flex;

    align-items: center;
    svg {
      margin-right: 1rem;
    }
  }

}

footer {
  margin-top: auto;
  .column {
    text-align: center;
  }
}
