footer
  .container
    .row
      .column
        | Total Projects: #{projectCount}
      .column
        | Built On: #{moment(buildDate).format('DD MMM YYYY')}
      .column
        | Version: #{version}
