footer
  .container
    .row
      .column
        | Total Projects: #{stats.projectCount}
      .column
        | Built On: #{moment(stats.buildDate).format('DD MMM YYYY')}
      .column
        | Version: #{stats.version}
