head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="description" content=description)
  meta(name="DCTERMS.issued" content=publishedDate)
  meta(name="DCTERMS.modified" content=modifiedDate)
  title= title

  link(rel="apple-touch-icon-precomposed" sizes="144x144" href="/icons/apple-touch-icon-144-precomposed.png")
  link(rel="apple-touch-icon-precomposed" sizes="114x114" href="/icons/apple-touch-icon-114-precomposed.png")
  link(rel="apple-touch-icon-precomposed" sizes="72x72" href="/icons/apple-touch-icon-72-precomposed.png")
  link(rel="apple-touch-icon-precomposed" href="/icons/apple-touch-icon-57-precomposed.png")

  link(rel="shortcut icon", href="/icons/favicon.png")

  link(href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet")
  link(href='/site.css' rel="stylesheet" type="text/css")
  link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css')
