section
  .container
    .row
      .column
        .info
          span.pushed-at
            != feather.icons['git-commit'].toSvg()
            = moment(pushed_at).format('DD MMM YYYY')
          span.stargazers-count
            != feather.icons.star.toSvg()
            = stargazers_count
          span.issues
            != feather.icons['alert-circle'].toSvg()
            = open_issues_count
          if language
            a(href= url(`/languages/${language.slug}.html`))
              != feather.icons.code.toSvg()
              = language
          for tag in tags
            a(href= url(`/tags/${tag.slug}.html`))
              != feather.icons.tag.toSvg()
              = tag.name
