nav.navigation
  section.container
    a.navigation-title(href='/')= siteName
    ul.navigation-list.float-right
      li.navigation-item
        a.navigation-link(href='/tags')
          != feather.icons.github.toSvg()
          | github
