mixin sideList(list)
  .column.column-25
    h3 Tags
    ul.tags
      each item, key in list
          li.tag
            a(href= url(`/tags/${item.urlSafe}.html`))
              span.count= item.length
              = key
