include /partials/mainList
include /partials/sideList
doctype html
html
  head
    include /partials/head
  body
    include /partials/nav
    include /partials/header
    .container
      .row
        .column.column-75
          include:markdown-it ../README.md
        +sideList(tags)
    include /partials/footer
    include /partials/js
