include /partials/header
doctype html
html
  head
    include /partials/head
  body.project
    include /partials/nav
    +header(name, description, links)
    include /partials/info
    include /partials/contentPost
    include /partials/footer
    include /partials/js
