doctype html
html
  head
    include /partials/head
  body
    include /partials/nav
    include /partials/header
    include /partials/contentPost
    include /partials/footer
    include /partials/js
