include /partials/header
include /partials/projectBrief

doctype html
html
  head
    include /partials/head
  body
    include /partials/nav
    +header(tag)
    .container
      .row
        .column
          each project in pagination.files
            +projectBrief(project)
    include /partials/footer
    include /partials/js
